.item-container{
    box-sizing: border-box;

    /* Auto layout */
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 3px;
    margin-bottom: 10px;
    padding-left: 5%;

    width: 100%;
    height: fit-content;

    background: #FFFFFF;
    border-radius: 15px;
}

.item-container:hover{
    outline: 2px solid #DB90A2;
}

.information-preview{
    width: 85%;
}
.information-preview p{
    color: #888888;
    width: 100%;
    height: fit-content;
    margin: 0px;
}

.information-preview > h3{
    margin-left: 2%;
    margin-top: 8px;
    margin-bottom: 5px;
    height: fit-content;
    color: #000000;
}

.hline{
    width: 90%;
    height: 0px;
    border: 0.5px solid #0073A4;
    margin-left: 10px;
    margin-right: 10px;
}

.speech-container{
    width: 40px;
    height: 40px;
    background-color: #6AAACE;
    border-radius: 25px;
    align-self: center;
}