.homepage{
    display: flex;
}

.principal{
    width: 80%;
    height: auto;
}

img{
    width: 100%;
}

.homecuadro{
    position: absolute;
    left: 40%;
    top: 70%;
    background-color: rgba(219, 144, 162, 0.85);
    width: 30%;
    height: auto;
    padding: 25px 30px;
}

.cuadro{
    position: absolute;
    left: 5%;
    top: 72%;
    background-color: rgba(219, 144, 162, 0.85);
    width: 30%;
    height: auto;
    padding: 25px 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Inria+Sans&display=swap');
.btntitulo{
    position: relative;
    padding: 5px 0px;
    width: 200px;
    margin: 0px 0px 10px -100px;
    left: 50%;
    background-color: #0073A4;
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    border: None;
    border-radius: 10px;
    cursor: pointer;
}

.btntitulo:hover{
    transform: scale(1.1);
}

.descripcion{
    font-family: 'Inria Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
}

.derecha{
    width: 20%;
    background-color: rgb(30, 30, 30);
    padding: 7px 0px;
}

.derecha img{
    width: 75%;
    padding: 0px 0px;
    margin: 0px 12.5%;
    background-color: rgb(30, 30, 30);
    opacity: 0.25;
    cursor: pointer;
}

.derecha .active img{
    width: 80%;
    margin: 0px 10%;
    opacity: 1;
    cursor: pointer;
}