.diagnosis {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  margin-top: 4rem;
}

.left-diagnosis {
  background: #fff;
  padding: 40px 0px;
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.left-diagnosis-title {
    background: #DB90A2;
    height: 60px;
    text-align: center;
    font-size: 25px;
    color: #fff;
    margin-bottom: 30px;
    width: 100%;
}

.steps-container{
  margin: 10px;
  width: 80%;
}

.btndiagnosis{
  position: relative;
  padding: 10px 0px;
  margin: 30px -100px;
  width: 200px;
  background-color: #6AAACE;
  font-family: 'Inria Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #FFFFFF;
  border: None;
  border-radius: 10px;
  cursor: pointer;
}

.btndiagnosis:hover{
  background-color: #0073A4;
}

.right-diagnosis {
  background: #FEF2EC;
  padding-top: 40px;
  height: 650px;
  width: 55%;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.right-diagnosis > p {
  font-family: 'Bungee Inline';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 48px;
  /* identical to box height */

  align-items: center;
  text-align: center;
  color: #222222;
}

.slide-table-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: white;
  border-radius: 6px;
  padding: 2px;
  padding-bottom: 0px;
}

.slide-table-container p {
  font-size: 15px;
}