.slide-table {
  max-height: 350px;
  width: fit-content;
  padding-right: 2px;
  overflow-y: auto;
  direction: ltr;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}

.slide-table-row{
  display: flex;
  flex-direction: row;
  margin: 2px;
  height: 45px;
}

.slide-table-name{
  background: #6AAACE;
  color: white;
  margin-right: 2px;
  width: 400px;
}

.slide-table-content{
  background: #6AAACE;
  color: white;
  width: 70px;
  align-items: center;
}

.slide-table::-webkit-scrollbar {
  width: 10px;
}

.slide-table::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 50px;
}

.slide-table::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: #888888;
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
